.team-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.team-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    width: 100%;
}

.square-picture-container {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 20%;
}


.styled-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.styled-table th {
    background-color: #4CAF50; /* vert */
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2; /* gris clair */
}

.styled-table tr:nth-child(odd) {
    background-color: #ffffff; /* blanc */
}

.styled-table tr:hover {
    background-color: #4CAF50;
    color: white;
}
