.person-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.person-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    width: 100%;
}

.square-picture-container {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 20%;
}

