.form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.team-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.form-group input:hover {
    background-color: #e0f7e0;
    border: 1px solid #4CAF50;
}

button {
    width: 100%;
    padding: 10px 15px;
    background: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

button:hover {
    background: #4CAF50;
    color : white;
    border: none;
}

.form-group select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.2s, background-color 0.2s;
    appearance: none; /* supprime la flèche par défaut sur certains navigateurs */
}

.form-group select:focus {
    border-color: #4CAF50;
    outline: none;
}

.form-group select:hover {
    background-color: #e0f7e0;
    border: 1px solid #4CAF50;
}

/* Pour ajouter une flèche personnalisée */
.form-group select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%234CAF50' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.team-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.team-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    width: 100%;
}

.square-picture-container {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 20%;
}


.styled-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.styled-table th {
    background-color: #4CAF50; /* vert */
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2; /* gris clair */
}

.styled-table tr:nth-child(odd) {
    background-color: #ffffff; /* blanc */
}

.styled-table tr:hover {
    background-color: #4CAF50;
    color: white;
}
