@import "primeicons/primeicons.css";

:root {
    --primary-color: oklch(0.746 0.002 17.209);
    --secondary-color: oklch(0.319 0.005 301.22);
    --bright-blue: oklch(51.01% 0.274 263.83);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light !important;
}

.p-toast-message-error .p-toast-detail, .p-toast-message-success .p-toast-detail{
    color: black !important;
}

body {
    margin: 0;
}


.custom-datagrid .dx-header-row {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.custom-datagrid .dx-row-lines:hover {
    background-color: #4cae50 !important;
    color: white;
}

.custom-datagrid .dx-row-lines:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-datagrid td {
    text-align: center !important;
}



