.styled-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: black;
}

.styled-table th {
    background-color: #4CAF50; /* vert */
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2; /* gris clair */
}

.styled-table tr:nth-child(odd) {
    background-color: #ffffff; /* blanc */
}

.styled-table tr:hover {
    background-color: #4CAF50;
    color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.styled-button {
    background-color: #4CAF50; /* vert */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
